.card {
    background: #fff;
    border-radius: 2px;
    height: 260px;
    margin: 1rem;
    position: relative;
    width: 235px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
    cursor: pointer;
  }
  
  .card > .img-container {
    height: 90%;
    overflow: hidden;
    text-align: center;
    background:#6CADDC;
  }
  
  .card > .img-container > img {
    resize: vertical;
    max-height: 100%;
  }
  
  .card > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
  }
  
  .card > .content > ul {
    list-style-type: none;
  }
  
  .card > .content > ul > li {
    margin-top: 25px;
  }
  
  